.Navbar{
    display: flex;
    position: fixed;
    top: 0%;
    justify-content: space-between;
    width: 100%;
    padding:20px;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.Nav_black{
    height: 30px;
    background-color: black;
}

.nav_logo{
    position: fixed;
    left: 20px;
    height: 40px;
    object-fit: contain;
}
.nav_avatar{
    position: fixed;
    right: 20px;
    height: 40px;
    object-fit: contain;
}

/* .Navbar img{
   object-fit: contain;
   height: 80px;
} */